* {
    padding: 0;
    margin: 0;
}

body { 
    background-color: rgb(124, 112, 189);
    font: normal 1.2em Arial;
}

.title {
    text-align: center;
    padding: 30px;
}

.block-paragraph {
    margin: 30px;
    padding: 20px 30px;
    border: dashed 3px #A696FF;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #747180;
}

#firstParagraph { 
    margin: 20px 10px 40px;
    padding: 20px;
    border: inset 2px #747180;
    background-color: #F5F5F5;
}

#secondParagraph { 
    font-weight: bold;
    margin: 0 10px 20px;
    padding: 20px;
    border: outset 2px #747180;
    background-color: #5A518A;
}